body
{
    margin 0;
    background-color: #8d8;
}
#contain
{
    margin: 0 auto;
    width: 1000px;
}
#inner
{
    border-radius: 10px;
    background-color: #FEFEFE;
    margin: 50px;
    padding: 10px;
    height: 1500px;
}
.link
{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#registerform,#createstorage,#createitem
{
    display: none;
}
input[type=text],input[type=password]
{
    margin: 5px 0 12px;
}
form
{
    margin-top: 20px;
}
#storagecontent
{
    width: 300px;
    min-height:800px;
    float:left;
}